!!!
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title ScrollySidebar Plugin
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "scrollysidebar.css", :rel => "stylesheet"}
    %link{:href => "scrollysidebar-theme.css", :rel => "stylesheet"}
  %body
    %h1
      %a{:href => "http://superpencil.com"}
        ScrollySidebar plugin
    %h2 Features:
    %ul
      %li Sticks section headers to their parent's div edges top or bottom on overflow
      %li All heights of sections, headers, and sidebar are flexible
      %li Clicking Section title smooth scrolls it to the top
      %li Supports window resizing
      %li Matching Webflow UI
      %li Ticks collapse item, name links to it (Section 2 is collapsed on load)
      %li Still scrollable if cursor hovers over fixed item by mousewheel capture
      %li Supports DOM injection (Section 7 is loaded in 2 sec on load)
    %h2 To-Do:
    %ul
      %li Make collapsing/showing section content smooth scroll work in combination with updating the snapped elements on bottom
      %li Clean code
    #scrollysidebar
      .scroll-pane
        .section.one
          %a.header{:href => "#"}
            %span.tick ▼
            %span.ticked ▶
            %span.link Section 1
          .body
            %p
              %a.button.s1a{:href => "#"} + Inject Section 1a
              %a.button.s7{:href => "#"} + Inject Section 7
              Culpa voluptate ullamco excepteur est nostrud tempor. Sint do ea sit eiusmod eu sit non commodo Lorem veniam. Officia nisi velit laboris adipisicing veniam nostrud nostrud nostrud adipisicing dolore culpa. Non et excepteur proident ea non reprehenderit nostrud.
        .section.collapsed
          %a.header{:href => "#"}
            %span.tick ▼
            %span.ticked ▶
            %span.link Section 2
          .body{:style => "display: none"}
            %p
              In mollit velit adipisicing ex aute velit deserunt occaecat nulla. Occaecat amet ea eiusmod ex Lorem irure fugiat laborum fugiat. Sint reprehenderit irure eiusmod minim laborum nulla exercitation tempor mollit do qui magna. Dolore ullamco ex sit in tempor labore. Veniam ex dolor dolor amet irure duis in esse ipsum minim nisi. Quis tempor nisi et reprehenderit velit.
        .section.two
          %a.header{:href => "#"}
            %span.tick ▼
            %span.ticked ▶
            %span.link Section 3
          .body
            %p
              Consequat sunt ea adipisicing eu deserunt dolor Lorem ad ex nulla occaecat occaecat mollit. Deserunt nisi in minim labore anim culpa non id officia Lorem et magna eu qui. Fugiat voluptate non et ea eu proident. Ut aliqua reprehenderit minim sint consequat id voluptate veniam labore laboris. Amet mollit consequat aliqua qui labore. Labore deserunt aliqua anim laborum enim aliqua minim deserunt. Fugiat occaecat ullamco laboris eu commodo esse minim elit non magna excepteur ea laborum. Occaecat deserunt tempor labore et sit dolor minim id occaecat consequat anim nulla ullamco et. Eu sunt veniam elit minim adipisicing id Lorem nulla voluptate reprehenderit. Pariatur culpa minim nisi sunt reprehenderit in veniam duis cupidatat proident quis sint sint nostrud. Culpa ex aliquip elit ut incididunt nisi. Et cupidatat et reprehenderit quis mollit.
        .section.three
          %a.header{:href => "#"}
            %span.tick ▼
            %span.ticked ▶
            %span.link Section 4
          .body
            %p
              Consequat sit excepteur commodo culpa consectetur quis irure anim duis excepteur dolore ipsum. Ad in sit non ad et cupidatat commodo. Esse ipsum ex nulla qui sint tempor id reprehenderit dolore proident tempor. Cillum reprehenderit ex fugiat laborum officia aliqua tempor laborum proident fugiat magna mollit. Esse duis commodo ut dolor nulla deserunt magna nulla aliquip nisi deserunt non.
        .section.four
          %a.header{:href => "#"}
            %span.tick ▼
            %span.ticked ▶
            %span.link Section 5
          .body
            %p
              Aliquip consequat id deserunt aliquip ad consequat elit aliqua irure. Quis Lorem minim adipisicing occaecat nulla mollit aliqua dolore fugiat excepteur. Pariatur incididunt Lorem adipisicing cillum reprehenderit velit aliqua adipisicing est anim aute. Amet occaecat cupidatat eu duis ad ex eiusmod. Elit cillum id cillum consequat laboris. Consectetur esse pariatur fugiat excepteur irure officia. Amet sit irure velit Lorem anim dolor consectetur esse est commodo elit eu incididunt. Consectetur labore esse quis enim excepteur sunt voluptate est deserunt. Laborum ad officia pariatur irure culpa nostrud do ea irure non dolor sit cillum irure.
        .section.five
          %a.header{:href => "#"}
            %span.tick ▼
            %span.ticked ▶
            %span.link Section 6
          .body
            %p
              Dolore deserunt esse nulla occaecat amet voluptate quis. Duis mollit reprehenderit quis eu nulla voluptate laboris id ad ea. Commodo tempor reprehenderit mollit ex deserunt sit. Pariatur tempor duis nisi pariatur est sunt esse. Occaecat nulla qui labore pariatur aliqua laboris elit esse cupidatat eu laboris quis magna. Dolore do pariatur ad proident et qui laboris ex et ea. Commodo cupidatat id consectetur adipisicing ipsum occaecat sit voluptate. Lorem quis enim sunt aliqua voluptate fugiat et culpa magna cillum. Reprehenderit enim excepteur qui laborum excepteur.
    %script{:src => "../bower_components/jquery/jquery.js"}
    %script{:src => "../bower_components/jquery-mousewheel/jquery.mousewheel.js"}
    %script{:src => "../bower_components/mutationobserver/jquery.mutationobserver.js"}
    %script{:src => "scrollysidebar.js"}
    :coffeescript
      $(document).ready ->
        #Call Scrolly plugin
        scrollySidebar()
        # Call plugin on DOM injections
        $('.scroll-pane').mutationObserver ->
          scrollySidebar()

      # DOM injecting sections demo
      $('.s1a').click ->
        $('.one').after "<div class='section'><a href='#' class='header'><span class='tick'>▼</span><span class='ticked'>▶</span>  <span class='link'>Section 1a</span></a><div class='body'><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta ipsum a leo malesuada, sed aliquet justo eleifend. Sed vehicula pretium libero, id congue purus lobortis eget. Maecenas iaculis congue vehicula. Aliquam erat volutpat. Sed vitae facilisis nisi, nec scelerisque nulla. Maecenas a lacus euismod, tincidunt mauris at, sagittis tortor. Donec ullamcorper tortor arcu, a malesuada diam posuere id. Phasellus id ullamcorper quam.</p></div></div>"

      $('.s7').click ->
        $('.scroll-pane').append "<div class='section'><a href='#' class='header'><span class='tick'>▼</span><span class='ticked'>▶</span>  <span class='link'>Section 7</span></a><div class='body'><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta ipsum a leo malesuada, sed aliquet justo eleifend. Sed vehicula pretium libero, id congue purus lobortis eget. Maecenas iaculis congue vehicula. Aliquam erat volutpat. Sed vitae facilisis nisi, nec scelerisque nulla. Maecenas a lacus euismod, tincidunt mauris at, sagittis tortor. Donec ullamcorper tortor arcu, a malesuada diam posuere id. Phasellus id ullamcorper quam.</p></div></div>"
